@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Combo&family=Cute+Font&display=swap");

/* Basic Reset */
* {
  font-family: "Carter One", system-ui;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.88)
    ),
    url("https://i.pinimg.com/736x/b7/5a/f4/b75af42c64251fa92fb2cf36ac5d8324.jpg");
  background-size: contain;
  max-width: 600px;
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Scrollbar Styling */
.container::-webkit-scrollbar {
  width: 10px;
}
.container::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #532e0ac8;
  border-radius: 8px;
  border: 3px solid #f4f4f4;
}

.container > div {
  background-color: #dcce8325;
  border-radius: 8px;
  padding: 20px;
}

/* Headings */
h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Form Styling */
form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:1rem;
}

/* Input Fields */
input[type="text"],
input[type="number"] {
  width: 38%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* Button Styling */
button {
  background: #532f0ad0;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
  min-width: fit-content;
}

button:hover {
  background: #856018;
}

/* List Display Areas */
#shopping-list-display,
#items-still-to-buy-display {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#shopping-list-display > div,
#items-still-to-buy-display > div {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background: #c59c667d;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Shopping Basket */
#shopping-basket {
  width: 100%;
}

/* Image Styles */
#capybara {
  width: 100px;
  margin: -10px 0;
}

/* Removed Cart Animation (Uncomment if needed) */
/* 
#cart {
  position: relative;
  left: -80px;
  bottom: 0;
  width: 100px;
  animation: cart 10s ease-in-out infinite;
}

@keyframes cart {
  0% {
    left: -80px;
  }
  100% {
    left: calc(80% - 100px);
  }
} */


/* Responsive Styling */
@media screen and (max-width: 500px) {
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}

hr {
  border-top: 2px dashed #532f0a; /* Dashed line */
  margin: 20px 0;
}
